<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cardana</key>
	<dict>
		<key>CardID </key>
		<string>BB00000000000221</string>
		<key>Status</key>
		<string>02</string>
	</dict>
</dict>
</plist>
