//
//  Alpha.xcconfig
//  TangemApp
//
//  Created by [REDACTED_AUTHOR]
//  Copyright © 2022 Tangem AG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

// Config name
ENVIRONMENT_NAME = Alpha

// Path to *.entitlements file
ENTITLEMENTS_PATH = Tangem/Configurations/TangemAlpha.entitlements

// Additional swift compiler flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = ALPHA ALPHA_OR_BETA

// Additional clang compiler flags
GCC_PREPROCESSOR_DEFINITIONS = ALPHA=1 ALPHA_OR_BETA=1
