<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784419083193-qrf0ng1j2dnheacb26d01ca31aa2lv1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784419083193-qrf0ng1j2dnheacb26d01ca31aa2lv1s</string>
	<key>API_KEY</key>
	<string>AIzaSyAM693c8L_F7Hq3IUkDgLmr2AWB4tvssJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>784419083193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tangem.TangemBeta</string>
	<key>PROJECT_ID</key>
	<string>tangem-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>tangem-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784419083193:ios:512f6633cf145b3e4cdc68</string>
	<key>DATABASE_URL</key>
	<string>https://tangem-beta.firebaseio.com</string>
</dict>
</plist>