<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721920782444-hr9jap0m7e6ni67nhc2blcrr1ttjfifu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721920782444-hr9jap0m7e6ni67nhc2blcrr1ttjfifu</string>
	<key>API_KEY</key>
	<string>AIzaSyBa8_s2ZBe5IYILNVAopx86LC03H_Qzp_k</string>
	<key>GCM_SENDER_ID</key>
	<string>721920782444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tangem.TangemAlpha</string>
	<key>PROJECT_ID</key>
	<string>tangemapp</string>
	<key>STORAGE_BUCKET</key>
	<string>tangemapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721920782444:ios:0e5fe9d4f38b447f3f2849</string>
	<key>DATABASE_URL</key>
	<string>https://tangemapp.firebaseio.com</string>
</dict>
</plist>