//
//  Production.xcconfig
//  TangemApp
//
//  Created by [REDACTED_AUTHOR]
//  Copyright © 2022 Tangem AG. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Config name
ENVIRONMENT_NAME = Production

// Prefix from developer.apple.com, TEAM_ID in this case
APP_ID_PREFIX = 4897UJ6D8C

// Will use in TangemApp as BUNDLE_IDENTIFIER
APP_BUNDLE_IDENTIFIER = com.tangem.Tangem

// Storage container name
SUITE_NAME = group.$(APP_BUNDLE_IDENTIFIER)

// Overriding (do NOT change key name)
// app name
PRODUCT_NAME = Tangem
// app icon
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon_$(ENVIRONMENT_NAME)
