<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tangem Lite</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.12</string>
	<key>CFBundleVersion</key>
	<string>81</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>To Scan Smart Card</string>
	<key>UIAppFonts</key>
	<array>
		<string>maax.otf</string>
		<string>maaxblack.otf</string>
		<string>maaxbold.otf</string>
		<string>maaxbolditalic.otf</string>
		<string>maaxitalic.otf</string>
		<string>maaxmedium.otf</string>
		<string>maaxmediumitalic.otf</string>
		<string>SairaCondensed-Black.ttf</string>
		<string>SairaCondensed-ExtraBold.ttf</string>
		<string>SairaCondensed-Bold.ttf</string>
		<string>SairaCondensed-SemiBold.ttf</string>
		<string>SairaCondensed-Medium.ttf</string>
		<string>SairaCondensed-Regular.ttf</string>
		<string>SairaCondensed-Light.ttf</string>
		<string>SairaCondensed-ExtraLight.ttf</string>
		<string>SairaCondensed-Thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>nfc</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
