<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moonPayApiKey</key>
	<string>pk_test_kc90oYTANy7UQdBavDKGfL4K9l6VEPE</string>
	<key>moonPaySecretApiKey</key>
	<string>sk_test_V8w4M19LbDjjYOt170s0tGuvXAgyEb1C</string>
	<key>isEnableMoonPay</key>
	<false/>
	<key>isEnablePayID</key>
	<true/>
	<key>coinMarketCapApiKey</key>
	<string>f6622117-c043-47a0-8975-9d673ce484de</string>
</dict>
</plist>
